@model IEnumerable<System.IO.FileInfo>

@{
    ViewBag.Title = "Файлы";
}

<div id="modalDialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="modalContainer" class="modal-content">
        </div>
    </div>
</div>
<br>

<script>
    $(document).ready(getAndRenderUsersTable);

    function getAndRenderUsersTable() {
        $.get('@Url.Action("List")', function (data) {
            $("#table-wrapper").html(data);
            addModalWindowsEventListener();
        });
    }

    function addModalWindowsEventListener() {
        $('.modal-button').click(function () {
            var url = $(this).data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#modalDialog').modal({ keyboard: true, show: true});
                $('#modalDialog').on('hidden.bs.modal', getAndRenderUsersTable);
                $.validator.unobtrusive.parse("#validatedFormId");
            });
        });
    };
</script>

<div id="table-wrapper"></div>